* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(55, 50, 63);
}
.carousel-inner img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 25px;
}

.carousel-inner h3 {
  text-shadow: 4px 4px 4px #000001;
}
.text1 {
  color: rgb(167, 154, 129);
}
.top {
  position: relative;
}
.source {
  position: absolute;
}
